*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image:linear-gradient(#780000, #ef233c) ;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

.saiba-mais{
    text-decoration: none;
    color:  whitesmoke;
    transition: all 300ms ease-in-out;
    padding: 5px;
    border-radius: 2px;
}
.main-content{
    max-width: 1200px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
}

.main-content p {
    margin-bottom: 30px;
}

.main-content img{
    display: block;
    margin: 0 auto;
    height: 700px;
}

.saiba-mais:hover{
    background-color: whitesmoke;
    color: #780000;
    border-radius: 7px;
}

.logo{
    height: 80px;
}

.flex-container{
    display: flex;
    margin: 0 80px;
    justify-content: space-between;
}

.flex-container2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    height: 100%;
}

ul{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    transition: all 300ms;
    font-size: 20px;
}

ul li a:hover{
    color: #780000;
    background-color: whitesmoke;
}

.copyright{
    text-align: center;
    margin-bottom: 10px;
}